# Google OAuth (ver NOTAS-BOLSILLO.md sección "Datos Google Cloud")
VITE_GOOGLE_WEB_CLIENT_ID=
VITE_GOOGLE_ANDROID_CLIENT_ID=
GOOGLE_CLIENT_SECRET=

ANDROID_KEYSTORE=
ANDROID_KEYSTORE_PASSWORD=
ANDROID_KEY_ALIAS=key0
ANDROID_KEY_PASSWORD=
ANDROID_JSON_KEY_FILE=

SPACESHIP_2FA_SMS_DEFAULT_PHONE_NUMBER=

GOOGLE_TRANSLATE_API_KEY=

E2E_CHIPNET_MNEMONIC=
E2E_MAINNET_MNEMONIC=
