@import url("leaflet/dist/leaflet.css") layer(base);

@import "tailwindcss";

@theme {
  --breakpoint-*: initial;
  --breakpoint-sm: 360px;
  --breakpoint-md: 640px;

  --font-*: initial;
  --font-sans: Archivo, sans-serif;
  --font-mono: "Chivo Mono", monospace;

  --color-*: initial;
  --color-transparent: rgba(0, 0, 0, 0);
  --color-black: rgba(0, 0, 0, 1);
  --color-white: rgba(255, 255, 255, 1);

  --color-error-light: rgba(230, 174, 157, 1);
  --color-error: rgba(202, 50, 36, 1);
  --color-error-dark: rgba(89, 34, 29, 1);

  --color-success-light: rgba(212, 231, 186, 1);
  --color-success: rgba(148, 195, 82, 1);
  --color-success-dark: rgba(63, 84, 7, 1);

  --color-warn-light: rgba(255, 217, 153, 1);
  --color-warn: rgba(232, 157, 30, 1);
  --color-warn-dark: rgba(103, 60, 24, 1);

  --color-primary-50: rgba(247, 252, 241, 1);
  --color-primary-100: rgba(234, 243, 220, 1);
  --color-primary-200: rgba(212, 231, 186, 1);
  --color-primary-300: rgba(191, 219, 151, 1);
  --color-primary-400: rgba(169, 207, 117, 1);
  --color-primary-500: rgba(148, 195, 82, 1);
  --color-primary-700: rgba(101, 136, 34, 1);
  --color-primary-900: rgba(63, 84, 7, 1);
  --color-primary: rgba(148, 195, 82, 1);

  --color-primarydark-50: rgba(38, 43, 39, 1);
  --color-primarydark-100: rgba(50, 60, 44, 1);
  --color-primarydark-200: rgba(75, 94, 53, 1);
  --color-primarydark-300: rgba(99, 127, 63, 1);
  --color-primarydark-400: rgba(124, 161, 72, 1);
  --color-primarydark-500: rgba(148, 195, 82, 1);
  --color-primarydark-700: rgba(193, 230, 98, 1);
  --color-primarydark-900: rgba(212, 244, 109, 1);
  --color-primarydark: rgba(148, 195, 82, 1);

  --color-neutral-25: rgba(247, 246, 242, 1);
  --color-neutral-50: rgba(243, 241, 236, 1);
  --color-neutral-100: rgba(231, 229, 223, 1);
  --color-neutral-150: rgba(211, 209, 201, 1);
  --color-neutral-200: rgba(181, 179, 170, 1);
  --color-neutral-300: rgba(143, 141, 133, 1);
  --color-neutral-400: rgba(104, 103, 96, 1);
  --color-neutral-500: rgba(71, 70, 65, 1);
  --color-neutral-600: rgba(46, 45, 42, 1);
  --color-neutral-700: rgba(37, 36, 35, 1);
  --color-neutral-800: rgba(29, 28, 27, 1);
  --color-neutral-900: rgba(25, 24, 24, 1);
  --color-neutral-1000: rgba(20, 20, 20, 1);
}

/*
  The default border color has changed to `currentcolor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentcolor);
  }
}

/* <body>
 * fixed body gives us full control over layout by setting up our own viewport,
 * detatched from window 
 * 
 * safe-area-inset-* variables are used to calculate viewport size for iOS
 * (prevents rendering underneath the "notch" and home button) 
*/
html {
  font-size: 16px;
  -webkit-tap-highlight-color: transparent;
  position: fixed;
  top: env(safe-area-inset-top);
  left: env(safe-area-inset-left);
  width: calc(100% - env(safe-area-inset-left) - env(safe-area-inset-right));
  min-height: calc(
    100% - env(safe-area-inset-top) - env(safe-area-inset-bottom)
  );
  height: calc(100% - env(safe-area-inset-top) - env(safe-area-inset-bottom));
  max-height: calc(
    100vh - env(safe-area-inset-top) - env(safe-area-inset-bottom)
  );
}

body {
  position: relative;
  margin: 0 auto;
  width: 100%;
  height: 100%;
  overscroll-behavior: none;
  user-select: none;
}

#root {
  position: relative;
  height: 100%;
  overscroll-behavior: none;
  user-select: none;
}

#container {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  height: 100%;
  overscroll-behavior: none;
}

main {
  position: relative;
  height: 100%;
  overflow-y: auto;
  overscroll-behavior: none;
}

#ios-top {
  width: 100vw;
  height: env(safe-area-inset-top);
  background-color: #18181b;
  position: fixed;
  top: 0;
  left: 0;
}

#ios-bottom {
  width: 100vw;
  height: env(safe-area-inset-bottom);
  background-color: #18181b;
  position: fixed;
  bottom: 0;
  left: 0;
}

.toaster {
  margin-top: env(safe-area-inset-top);
}

.leaflet-container {
  height: 70vh;
}

.anticon {
  line-height: 0;
  vertical-align: 1px;
}

.text-stroke {
  -webkit-text-stroke-color: #00000022;
  -webkit-text-fill: transparent;
  -webkit-text-stroke-width: 0.25px;
}

@font-face {
  font-family: "Archivo";
  src: url("./assets/Archivo-VariableFont_wdth,wght.ttf");
}
@font-face {
  font-family: "Chivo Mono";
  src: url("./assets/ChivoMono-VariableFont_wght.ttf");
}

@font-face {
  font-family: "TAN NIMBUS";
  src: url("./assets/tan-nimbus.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

.font-bliss {
  font-family: "TAN NIMBUS";
}
