@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    -webkit-tap-highlight-color: transparent;
}

body {
    min-height: 100vh;
    height: 100%;
}

#root {
    height: calc(
        100vh - env(safe-area-inset-top) - env(safe-area-inset-bottom)
    );
}

#iosbar {
    width: 100vw;
    height: env(safe-area-inset-top);
    background-color: #111111;
}

#bottomNav {
    padding-bottom: env(safe-area-inset-bottom);
    background-color: #111111;
}

.toaster {
    margin-top: env(safe-area-inset-top);
}

main {
    min-height: 100%;
    position: relative;
    padding-bottom: 4.1em;
}

.anticon {
    line-height: 0;
    vertical-align: 1px;
}
